@media only screen and (max-width: 992px){
    .links{
        margin-top: 30px;
        border-left: none;
    }

    .links a{
        position: absolute;
        margin-top: 2pt;
    }

    .brand-logo .valign-wrapper{
        font-size: 15px;
    }

    .footer-img{
        border-bottom: 1px solid grey;
        border-right: none;
    }

    .about-gr{
        margin-top: 20px;
        border-bottom: 1px solid grey;
    }

    .about-gr p{
        margin-bottom: 20px;
    }

    .action-side-menu{
        background-color: #f03232;
    }

    iframe{
        height: 400px;
    }
}

@media only screen and (max-width: 385px){
    .find{
        margin-top: 10px!important;
    }
	
	.login{
        margin-top: 20px;
    }

    .question{
		width: 100%;
		margin-top: 0;
    }
}